.sapMPanelBGTranslucent {
    background-color: #bfbfbf; !important
}

.sapMNav {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: seashell; !important
}

.sapMListTblCell {

    border-left: 1px solid #ccc;
    
    font-weight: bold; !important

},
.textbold{
	font-weight: bold; !important
}