.sapMPanelBGTranslucent {
    background-color: #bfbfbf; !important
}

.sapMNav {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-color: seashell; !important
}

.sapMListTblCell {

    border-left: 1px solid #ccc;
    
    font-weight: bold; !important

},
.textbold{
	font-weight: bold; !important
}
.pw {
    border-width: 1;
    border-color: #000000;
    padding: 5;
    margin: 5;
}

.pw-none { }

.pw-weak {
    background-color: red;
}

.pw-medium {
    background-color: yellow;
}

.pw-strong {
    background-color: green;
}